<div class="login-container bg-primary">
    <div class="login-card">
      <div class="text-center">
        <h2>Reset Password</h2>
        <p class="subtitle">Enter your email to recover your account</p>
      </div>
  
      @if (successMessage) {
        <div class="global-success-message">
          {{ successMessage }}
        </div>
        <div class="auth-links mt-4">
          <button routerLink="/login" class="btn btn-outline w-100">Back to Login</button>
        </div>
      } 
      @else {
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group">
            <label>Email Address</label>
            <input type="email" formControlName="email" class="form-control" placeholder="professor@fundation.com"
                   [class.error-highlight]="isHoveringSubmit && forgotForm.get('email')?.invalid">
          </div>
  
          @if (formErrorMessage) {
            <div class="global-error-message">
              ⚠ {{ formErrorMessage }}
            </div>
          }
  
          @if (backendErrorMessage) {
            <div class="global-error-message">
              {{ backendErrorMessage }}
            </div>
          }
  
          <div class="submit-wrapper w-100"
               (mouseenter)="isHoveringSubmit = true"
               (mouseleave)="isHoveringSubmit = false">
               
            <button type="submit" class="btn btn-primary w-100" [disabled]="forgotForm.invalid">
                SEND RESET LINK
            </button>
          </div>
  
          <div class="auth-links">
            <p class="mt-2">
              Remember your password? <a routerLink="/login" class="text-link-bold">Sign In</a>
            </p>
          </div>
  
        </form>
      }
    </div>
  </div>